.preview-table {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    height: 400px;
    padding: 5px;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.text-medium {
    font-size: 1.25rem;
}
.nothing-to-show {
    border: 1px solid #c9c9c9;
    padding: 15px;
    border-radius: 5px;
    background-color: #C3846B;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}