.lo-filter-container {
    background-color:  rgb(242, 242, 242);
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.lo-filter-container_editing {
    background-color:  white;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.slds-popover.slds-popover_prompt {
    position: absolute;
    left: -80%;
    top: 0;
}